/* stylelint-disable-next-line defensive-css/require-pure-selectors */
header {
  position: sticky;
  inset-block-start: 0;
  grid-area: header;
  z-index: 100;
}

.title {
  /* margin: 0 0 2rem; */
  margin: 0;
  box-shadow:
    inset 0 -1px 0 hsl(0deg 0% 100% / 50%),
    0 1px 0 hsl(0deg 0% 0% / 33.3333%),
    0 8px 16px hsl(0deg 0% 0% / 25%);
  /* stylelint-disable-next-line plugin/use-baseline */
  backdrop-filter: blur(4px);
  background:
    linear-gradient(
      to right,
      hsl(0deg 0% 0% / 10%),
      transparent,
      hsl(0deg 0% 0% / 10%)
    ),
    linear-gradient(
      to bottom,
      hsl(0deg 0% 100% / 90%),
      hsl(0deg 0% 66.6667% / 90%),
      hsl(0deg 0% 80% / 90%)
    );
  padding: 1rem;
  text-shadow:
    0 -1pt 1pt hsl(0deg 0% 100% / 66.6667%),
    0 1pt 1.5pt hsl(0deg 0% 100% / 50%),
    0 2pt 3pt hsl(0deg 0% 0% / 25%);
  color: hsl(0deg 0% 5%);
}

.subtitle {
  margin: 0 1rem;
}

/* stylelint-disable defensive-css/require-pure-selectors */
footer:not(.movie__button-area) {
  display: flex;
  position: sticky;
  inset-block-end: 0;
  flex-direction: column;
  grid-area: footer;
  gap: 0.5rem;
  z-index: 90;
  box-shadow:
    0 -8px 16px hsl(0deg 0% 0% / 25%),
    0 -1px 0 hsl(0deg 0% 0% / 66.6667%),
    inset 0 1px 0 hsl(0deg 0% 100% / 33.3333%),
    0 1px 0 hsl(0deg 0% 100% / 50%),
    0 2px 0 hsl(0deg 0% 0% / 66.6667%),
    0 8px 16px hsl(0deg 0% 0% / 25%);
  /* 0 64px 16px 16px hsl(0deg 0% 20% / 90%); */
  /* stylelint-disable-next-line plugin/use-baseline */
  backdrop-filter: blur(4px);
  background:
    linear-gradient(
      to right,
      hsl(0deg 0% 0% / 10%),
      transparent,
      hsl(0deg 0% 0% / 10%)
    ),
    linear-gradient(
      to bottom,
      hsl(0deg 0% 50% / 90%),
      hsl(0deg 0% 6.6667% / 90%),
      hsl(0deg 0% 20% / 90%)
    );
  padding: 1rem;
  text-shadow: 0 1pt 4pt hsl(0deg 0% 0%);
  color: hsl(0deg 0% 85%);
  font-size: 0.9rem;
}

footer:not(.movie__button-area) a {
  color: hsl(200deg 100% 85%);
}

footer:not(.movie__button-area) a:visited {
  color: hsl(256deg 100% 85%);
}

footer:not(.movie__button-area) p {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  row-gap: 0;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  inset-block-start: 96px;
  grid-area: nav;
  /* TODO next-line: Leaks into footer… how to solve? */
  align-self: start;
  padding: 0 1rem;
}

main {
  grid-area: content;
  /* overflow-block: auto; */
}
/* stylelint-enable defensive-css/require-pure-selectors */

.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: "";
}

.genre__button {
  position: relative;
  transition-duration: 1000ms;
  margin: 0 0.5rem 0.5rem 0;
  border: none;
  border-radius: 8px;
  box-shadow:
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    inset 0 2px 0 0 hsl(0deg 0% 100% / 5%),
    inset 0 -2px 0 0 hsl(0deg 0% 100% / 10%),
    0 0 0 1px hsl(0deg 0% 0% / 75%),
    0 2px 6px 0 hsl(0deg 0% 0% / 50%);
  background:
    linear-gradient(
      to right,
      hsl(0deg 0% 0% / 25%),
      transparent,
      hsl(0deg 0% 0% / 25%)
    ),
    linear-gradient(
      to bottom,
      hsl(0deg 0% 55%),
      hsl(0deg 0% 20%),
      hsl(0deg 0% 35%)
    );
  padding: 0.25rem 1rem;
  text-shadow: 0 -0.5pt 0.25pt hsl(0deg 0% 0% / 50%);
  color: hsl(0deg 0% 95%);
  font-size: 1rem;
  /* font-weight: bold; */
  cursor: pointer;
}

.genre__button::before {
  display: block;
  position: absolute;
  inset-block-start: 2px;
  inset-inline: 2px;
  border-radius: 8px;
  background: radial-gradient(
    200% 100% at 50% 100%,
    hsl(0deg 0% 100% / 5%) 40%,
    hsl(0deg 0% 100% / 50%)
  );
  block-size: 50%;
  inline-size: calc(100% - 4px);
  content: "";
}

@media (hover: hover) {
  .genre__button:focus-visible,
  .genre__button:hover {
    transition-duration: 50ms;
    filter: brightness(150%);
  }

  .genre__button--active:hover {
    transition-duration: 5ms;
    box-shadow:
      inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
      inset 0 2px 0 0 hsl(0deg 0% 100% / 5%),
      inset 0 -2px 0 0 hsl(0deg 0% 100% / 10%),
      0 0 0 1px hsl(0deg 0% 0% / 50%),
      0 0 12px 4px hsl(200deg 50% 50%);
    filter: brightness(100%);
    background:
      linear-gradient(
        to right,
        hsl(0deg 0% 0% / 15%),
        transparent,
        hsl(0deg 0% 0% / 15%)
      ),
      linear-gradient(
        to bottom,
        hsl(200deg 50% 65%),
        hsl(200deg 50% 30%),
        hsl(200deg 50% 45%)
      );
    text-shadow:
      0 0 2px hsl(0deg 0% 0%),
      0 0 8px hsl(0deg 0% 100%);
    color: hsl(0deg 0% 100%);
  }
}

.genre__button:active {
  transition-duration: 5ms;
  box-shadow:
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    inset 0 2px 0 0 hsl(0deg 0% 100% / 5%),
    inset 0 -2px 0 0 hsl(0deg 0% 100% / 10%),
    inset 0 2px 8px 2px hsl(0deg 0% 0% / 100%),
    0 0 0 1px hsl(0deg 0% 0% / 75%);
  filter: brightness(90%);
}

.genre__button--active {
  box-shadow:
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    inset 0 2px 0 0 hsl(0deg 0% 100% / 5%),
    inset 0 -2px 0 0 hsl(0deg 0% 100% / 10%),
    0 0 0 1px hsl(0deg 0% 0% / 50%),
    0 0 12px 4px hsl(200deg 50% 50%);
  filter: brightness(100%);
  background:
    linear-gradient(
      to right,
      hsl(0deg 0% 0% / 15%),
      transparent,
      hsl(0deg 0% 0% / 15%)
    ),
    linear-gradient(
      to bottom,
      hsl(200deg 50% 65%),
      hsl(200deg 50% 30%),
      hsl(200deg 50% 45%)
    );
  text-shadow:
    0 0 2px hsl(0deg 0% 0%),
    0 0 8px hsl(0deg 0% 100%);
  color: hsl(0deg 0% 100%);
}

.movies {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: stretch;
  justify-content: stretch;
  margin: 2rem 0;
  border-radius: 4px;
  box-shadow:
    0 0 0 1px hsl(0deg 0% 0% / 33.3333%),
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    0 4px 1rem hsl(0deg 0% 0% / 25%);
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 80%),
    hsl(0deg 0% 50%),
    hsl(0deg 0% 75%)
  );
  padding: 0;
  inline-size: 100%;
  list-style: "";
}

.movies__li {
  flex: 1;
  padding: 1rem;
  min-inline-size: calc(18vi - 2rem);
}

/* stylelint-disable-next-line defensive-css/require-pure-selectors */
.movie:not([hidden]) {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  border-radius: 4px;
  box-shadow:
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    0 0 0 1px hsl(0deg 0% 0% / 25%),
    0 4px 0.5rem hsl(0deg 0% 0% / 25%);
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 100%),
    hsl(0deg 0% 75%),
    hsl(0deg 0% 80%)
  );
  padding: 1rem;
  block-size: 100%;
}

.movie__poster-area {
  display: flex;
  flex-wrap: wrap;
}

.movie__poster {
  border-radius: 4px;
  box-shadow:
    0 0 0 1px hsl(0deg 0% 0% / 75%),
    0 0 0 2px hsl(0deg 0% 100% / 50%);
  block-size: 100%;
  max-inline-size: 100%;
}

.movie__runtime-and-release {
  opacity: 0.75;
}

.movie__genres {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  padding: 0;
  list-style: "";
}

.movie__genre {
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 1rem;
  box-shadow:
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    0 0 0 1px hsl(0deg 0% 0% / 55%);
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 35%),
    hsl(0deg 0% 15%),
    hsl(0deg 0% 25%)
  );
  padding: 0.25rem 0.5rem;
  max-block-size: 1.5rem;
  color: hsl(0deg 0% 95%);
}

.movie__description {
  text-align: justify;
}

.movie__directors,
.movie__writers,
.movie__actors {
  list-style: disc;
}

.movie__button-area {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  margin: 2rem 0 0.5rem;
}

.movie__button {
  position: relative;
  transition-duration: 1000ms;
  border-radius: 6px;
  box-shadow:
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    inset 0 2px 0 0 hsl(0deg 0% 100% / 15%),
    inset 0 -2px 0 0 hsl(0deg 0% 100% / 25%),
    0 0 0 1px hsl(0deg 0% 0% / 25%),
    0 2px 4px 0 hsl(0deg 0% 0% / 25%);
  background:
    linear-gradient(
      to right,
      hsl(0deg 0% 0% / 5%),
      transparent,
      hsl(0deg 0% 0% / 5%)
    ),
    linear-gradient(
      to bottom,
      hsl(0deg 0% 95%),
      hsl(0deg 0% 75%),
      hsl(0deg 0% 80%)
    );
  padding: 0.5rem 2rem;
  text-shadow: 0 -0.5pt 0.25pt hsl(0deg 0% 100% / 50%);
  color: hsl(0deg 0% 15%);
}

.movie__button::before {
  display: block;
  position: absolute;
  inset-block-start: 2px;
  inset-inline: 2px;
  border-radius: 4px;
  background: radial-gradient(
    200% 100% at 50% 100%,
    hsl(0deg 0% 100% / 10%) 40%,
    hsl(0deg 0% 100% / 80%)
  );
  block-size: 50%;
  inline-size: calc(100% - 4px);
  content: "";
}

@media (hover: hover) {
  .movie__button:focus-visible,
  .movie__button:hover {
    transition-duration: 50ms;
    box-shadow:
      inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
      inset 0 2px 0 0 hsl(0deg 0% 100% / 15%),
      inset 0 -2px 0 0 hsl(0deg 0% 100% / 25%),
      0 0 0 1px hsl(0deg 0% 0% / 25%),
      0 2px 8px 2px hsl(0deg 0% 100% / 50%),
      0 2px 4px 0 hsl(0deg 0% 0% / 25%);
    filter: brightness(110%);
  }

  .movie__button--active:hover {
    transition-duration: 5ms;
    box-shadow:
      inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
      inset 0 2px 0 0 hsl(0deg 0% 100% / 5%),
      inset 0 -2px 0 0 hsl(0deg 0% 100% / 25%),
      inset 0 2px 8px 2px hsl(0deg 0% 0% / 25%),
      0 0 0 1px hsl(0deg 0% 0% / 25%);
    filter: brightness(90%);
  }
}

.movie__button:active,
.movie__button--active {
  transition-duration: 5ms;
  box-shadow:
    inset 0 0 0 1px hsl(0deg 0% 100% / 50%),
    inset 0 2px 0 0 hsl(0deg 0% 100% / 5%),
    inset 0 -2px 0 0 hsl(0deg 0% 100% / 25%),
    inset 0 2px 8px 2px hsl(0deg 0% 0% / 25%),
    0 0 0 1px hsl(0deg 0% 0% / 25%);
  filter: brightness(90%);
}

.movies__error {
  flex-direction: column;
  justify-content: start;
  background: linear-gradient(
    to bottom,
    hsl(0deg 100% 75% / 50%),
    hsl(0deg 100% 40% / 50%),
    hsl(0deg 100% 50% / 50%)
  );
  padding: 0 1rem;
  text-shadow:
    0 1pt 4pt hsl(0deg 0% 100% / 50%),
    0 1pt 2pt hsl(0deg 0% 100% / 75%);
  color: hsl(0deg 0% 5%);
}

#server-error {
  padding: 0 1rem;
  inline-size: calc(100% - 2rem);
  text-shadow: 0 2pt 3pt hsl(0deg 100% 75% / 25%);
  color: hsl(0deg 100% 25%);
}

#server-error.movies__error {
  text-shadow:
    0 1pt 4pt hsl(0deg 0% 100% / 50%),
    0 1pt 2pt hsl(0deg 0% 100% / 75%);
}

.movies__error #server-error {
  padding: 0;
  text-shadow: inherit;
  color: inherit;
}
