@media (width < 768px) {
  /* stylelint-disable defensive-css/require-pure-selectors */
  body {
    display: initial;
  }

  nav {
    position: relative;
    inset-block-start: initial;
    align-self: initial;
  }
  /* stylelint-enable defensive-css/require-pure-selectors */
}

@media (width < 1200px) {
  .movies__li {
    min-inline-size: unset;
  }
}
