body {
  background-color: brown;
  color: beige;
  font-family: "Trebuchet MS", sans-serif;
}

main {
  color: #333;
}

button {
    border-width: 1px;
    border-radius: 4px;
    padding: 4px;
    font-size: 105%;
}

button:hover {
  background-color: darkgray;
}
