@import url("layout.css");

body {
  background-image: url('images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article {
  margin: 8px;
  border-radius: 16px;
  background-color: rgb(211 211 211 / 90%);
  padding: 16px;
  inline-size: 384px;
}

article button {
  margin: 0 2px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  margin-inline-end: 4px;
}

.genre {
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  padding: 4px 8px;
  font-weight: bold;
}
