@import url("base.css");

h1 {
  margin: 8px 0;
  font-size: 200%;
}

html,
body {
  margin: 0;
  block-size: 100dvb;
}

/* The nav's header and button list will be centered */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin-block-start: 0;
  padding: 2px;
  list-style-type: "";
}

body {
  display: grid;
  grid-template: "h h" 92px "n m" auto "f f" 64px / 192px auto;
  margin: 0;
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

main {
  grid-area: m;
  overflow-block: auto;
}

footer {
  grid-area: f;
}

nav > ul {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

footer > ul {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: center;
}

article h2 {
  margin-block-end: 0;
}

/* navigation buttons have full width */
nav button {
  inline-size: 100%;
}

img {
  border-radius: 12px;
}

a {
  color: beige;
}
